version: '3.8'
services:
  disk-defender:
    build: .
    container_name: diskdefender
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
    networks:
      - npm_default

networks:
  npm_default:
    external: true
